{
    "presets": [
        "react",
        "env",
        "es2015",
        "stage-0"
    ],
    "plugins": [
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                "transform-class-properties",
                "transform-es2015-classes"
            ]
        }
    }
}